@import 'palette';
@import '../../../config';


$variant: dark;

//Some colors

$error: $pm_red;
$asset-suffix: if($variant=='dark', '-dark', '');
$background-clip-extra: if($variant=='light', padding-box, border-box);

//Global padding
$pad: 4px;

//Durations (adapted from Arc)
$duration: 75ms;
$ripple-fade-in-duration: 225ms;
$ripple-fade-out-duration: 300ms;
$ripple-fade-out-opacity-duration: 1200ms;

//Timing functions
$ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1);

//Transition shorthands
$transition: all $duration $ease-out;
$transition-shadow: box-shadow $duration $ease-out;

//Shadows
$btn_shadow:0.12*$enable_btn;

$shadow: 0 3px 3px 1px rgba(black, 0.16),
0 3px 3px 1px rgba(black, 0.23); //Basic shadows for windows
$shadow-btn: 0 2px 2px 0.5px rgba(black, $btn_shadow),
0 1px 2px 0.5px rgba(black, 2*$btn_shadow); //Button shadows, for "hover effect"
$shadow-pop: 0 2px 6px 1px rgba(black, 0.27); //Popover shadows